
#headline{
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0) ), url(header.jpg) no-repeat center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;
}
#headline h3{
	color: #eee;
	font-size: 20px;
	letter-spacing: 1px;
}
#container{
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar{
	width: 340px;
	float: right;
}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}
#container .tag{
	padding: 10px 0;
}
#container .tag li{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	text-align: left;
	text-indent: 4px;
	background-color: #eee;
}
#container .tag a{
	display: block;
	color: #999;
}
#container .tag a:hover{
	background-color: #458b00;
	color: #fff;
}
#container .figure{
    padding: 10px 0;
}
#container figure{
	display: inline-block;
	padding: 4px;
	color: #666;
}
#container .box{
	padding: 10px 0;
}
#container .box a{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	text-align: center;
	text-indent: 35px；
	color: #999;
}
/*#container .box a:hover{
	background-color: #458b00;
	color: #fff;
}*/
#container .box a.treap1{
    background: #eee url(treap1.png) no-repeat 10px center;
}
#container .box a.treap2{
    background: #eee url(treap2.png) no-repeat 10px center;
}
#container .box a.treap3{
    background: #eee url(treap3.png) no-repeat 10px center;
}
#container .box a.treap4{
    background: #eee url(treap4.png) no-repeat 10px center;
}
#container .list{
	width: 910px;
	float: left;
}
#container .infor{
	height: 45px;
	line-height: 45px;
	background-color: #eee;
	margin: 0 0 20px 0;
}
#container .left{
	display: inline-block;
	float: left;
}
#container .left li {
	display: inline-block;
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .left li:first-child{
	background-color: #fff;
	border-top: 2px solid #458b00;
	position: relative;
	left: 1px;  
}
#container .left a{
	color: #666;
}
#container .right{
	display: inline-block;
	padding: 0 20px 0 0;
	float: right;
}
#container .right li {
	display: inline-block;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .right a{
	padding: 3px 8px;
	color: #666;
}
#container .right a.selected, #container .right a:hover{
    background-color: #458b00;
    color: #fff;
}
#container .tour{
	width: 908px;
	padding: 0;
	background-color: #ccc;
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	/*background-color: red;*/
	position: relative;
}
#container .tour img{
	float: left;
}
#container .tour figcation{
	width: 528px;
	height: 230px;
	float: right;
}
#container .tour footer{
	width: 528px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	text-indent: 25px;
	background-color: #fafafa;
	position: absolute;
	bottom: 0;
}