
body{
	margin: 0;
	padding: 0;
}
#text{
	border: 1px solid #999;
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	position: relative;
	min-height: 450px;
}
#text div{
	border:1px solid #999;
	background-color: #fff;
}
#text .left{
	width: 158px;
	position: absolute;
	/*float: left;*/
	padding: 20px;
}
#text .left img{
    width: 78px;
    height: 78px;
    border: 1px solid #999;
}
#text .left p{
	float: right;
	margin-top: 0px;
	margin-right: 2px;
}
#text .center{
	margin: 0 140px 0 220px;
	padding: 20px;
}
#text .center p{
    margin-top: 0;
    margin-bottom: 0;
}
#text .right{
	position: absolute;
	/*float: right;*/
	width: 78px;
	padding: 20px;
	right: 20px;
	top: 20px;
}

#text .right img{
	width: 78px;
	height: 78px;
	border: 1px solid #999;
	margin-bottom: 20px;

}